<p>
    <strong>Privacy Policy</strong>
    <strong> </strong>
</p>
<p>
    Last updated on October 18, 2015.
</p>
<p>
    Protecting your privacy is important to Lemur Labs. We know that you care about how your personal information is used and shared, and we take every
    reasonable measure to protect your information in order to earn your trust. This notice describes our mobile applications Privacy Policy and tells you up
    front exactly how we collect, protect, use, and share your personal information collected on our applications. This Privacy Policy does not apply to
    information provided to us offline by our employees, contractors, vendors, or suppliers. By using the applications developed by Lemur Labs, you are
    accepting the practices described in this Privacy Policy.
</p>
<p>
    To view our Terms of Use, which applies to your use of our mobile applications and your use of the Hellolalo.com website, you can visit the Terms of Use
tab <a href="http://www.hellolalo.com/legal">here</a>. If you have any questions or concerns about any of our practices or policies, please email us at    <a href="mailto:support@hellolalo.com">support@hellolalo.com</a>.
</p>
<p>
    <strong>Information We Collect</strong>
    <br/>
</p>
<p>
    <strong>What personal information do we collect from you when you use the Lalo app?</strong>
    <br/>
    Personal information is information that can be used on its own or with other information to identify, contact, or locate a person, such as name, email
    address, and where a person goes to school. When registering for the Lalo app, we ask you to enter a unique username and password to identify your profile
    and differentiate you from other users. We ask you provide an email address for password reset requests, and any other necessary communication. We ask you
    to tell us the school you identify with so that we can provide the best and most relevant student events in your area. We allow users to optionally share
    their first and last name. And we receive other data from or about the mobile phone or other devices you use for our app, including device name and model
    number, so we can improve how we customize your experience with the Lalo app.
    <br/>
    <br/>
    Additionally, the Lalo app may be aware of the precise location of the mobile device you use in order to help you calculate your location. However, we do
    not collect, store, or otherwise have access to this data, and this data is not linked with any of your other personal information that we do collect.
</p>
<p>
    <strong>When do we collect information?</strong>
    <br/>
    We collect information from you when you register on and use the Lalo app, sign up for our newsletter, communicate with us via email, Twitter, or contact
    us through our website or any other digital platform.
</p>
<p>
    <strong>How We Use and Protect Your Information</strong>
    <br/>
</p>
<p>
    <strong>How do we use your information?</strong>
    <br/>
    We may use the information we collect from you to do the following:
</p>
<p>
    · Personalize your experience and deliver the type of product offerings in which you are most interested.
</p>
<p>
    · Improve the Lalo app so that we can better serve you, including to provide additional features and content.
</p>
<p>
    · Enhance our response to your questions, comments, and customer service requests.
</p>
<p>
    · Send periodic newsletters, technical notices, security alerts, support and administrative messages, and updates to our products and services, unless you
    unsubscribe.
</p>
<p>
    · Monitor and analyze trends, usage, and activities in connection with our products and services.
</p>
<p>
    · Provide relevant push notifications to your device to improve your experience.
</p>
<p>
    · Customize and improve our services through content or features that match user profiles or interests.
</p>
<p>
    · Detect, investigate and/or prevent fraudulent, unauthorized or illegal activity.
</p>
<p>
    · Carry out any other apparent purpose for which the information was collected.
</p>
<p>
    <strong>How do we protect your information?</strong>
    <br/>
    We implement a variety of security measures when you enter or accesses your information to maintain the safety of your personal information.
    <br/>
    <br/>
    Our mobile application is scanned on a regular basis for security holes and known vulnerabilities to make your use of the Lalo app as safe as possible.
    Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such
    systems and are required to keep the information confidential.
    <br/>
    <br/>
    Furthermore, all payment transactions are processed through a gateway provider and are not stored or processed on our servers.
</p>
<p>
    <strong>Do we use “cookies”?</strong>
    <br/>
    Cookies are small files that a mobile application or its service provider transfers to your device’s hard drive through your device (if you allow) that
    enables the application’s or service provider’s systems to recognize your app and capture and remember certain information. While Lemur Labs does not use
    cookies on or through the Lalo app, our third-party analytics providers may. For more information on third parties, see the How We Share Your Information
    section of this Privacy Policy.
</p>
<p>
    <strong>How We Share Your Information</strong>
    <br/>
</p>
<p>
    <strong>Third Party Disclosure</strong>
    <br/>
    We will share your information with third parties only in the ways that are described in this Privacy Policy.
    <br/>
    <br/>
    We may share your username with other users of the Lalo app when you register. We may provide your personal information to companies that provide services
    to help us with our business activities, such as web and app hosting or emailing you our newsletter, notices, or company updates. These third parties are
    authorized to use your personal information only as necessary to provide these services to us on your behalf.
</p>
<p>
    <strong>Additionally, we may disclose your personal information</strong>
</p>
<p>
    · as required by law, such as to comply with a subpoena, or similar legal process.
</p>
<p>
    · when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or
    respond to a government request.
</p>
<ul>
    <li>
        to any other third party with your prior consent to do so.
    </li>
</ul>
<p>
    Also, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
</p>
<p>
    <strong>Third Party</strong>
    <strong> </strong>
    <strong>Analytics</strong>
    <br/>
    We partner with third party analytics providers to improve your experience with the Lalo app, including Google Analytics and Flurry. These entities may use
    cookies, web beacons, and other technologies to collect information about your use of the Lalo app, including your IP address, web browser, pages viewed,
    time spent on pages, links clicked, and conversion information. This information may be used, among other things, to analyze and track data, determine the
    popularity of certain content, and to better understand your activity on the Lalo app.
    <br/>
    <br/>
    You can learn how to opt out of Google Analytics <a href="http://www.google.com/policies/privacy/">here</a>.
</p>
<p>
    You can learn how to opt out of Flurry analytics <a href="http://www.flurry.com/legal-privacy/end-user-opt-out">here</a>.
</p>
<p>
    <strong>How We Follow Privacy Best Practices</strong>
    <br/>
</p>
<p>
    <strong>California Online Privacy Protection Act of 2003 (</strong>
    <strong>CalOPPA</strong>
    <strong>)</strong>
    <br/>
    CalOPPA is the first state law in the United States to require commercial websites and online services to post a privacy policy. The law’s reach stretches
    well beyond California to require any person or company in the country (and conceivably the world) that operates a website collecting personally
    identifiable information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and
    those individuals with whom it is being shared, and to comply with this policy. See more <a href="http://bit.ly/1m5CH2p">here</a>.
</p>
<p>
    <strong>According to</strong>
    <strong> </strong>
    <strong>CalOPPA</strong>
    <strong> </strong>
    <strong>we agree to the following:</strong>
    <br/>
</p>
<p>
    · We provide a link to this Privacy Policy when you register on or use the Lalo app. Our Privacy Policy link includes the word ‘Privacy’, and can be easily
    be found on Lalo app’s homepage.
</p>
<p>
    · You will be notified of any privacy policy changes on our Privacy Policy page, and we may email you with periodic changes to this Privacy Policy, but you
    should check our Privacy Policy page frequently to see recent changes. We revise the updated date at the top of this Privacy Policy so you know exactly
    when any changes to our Privacy Policy have gone into effect. Unless stated otherwise, our current Privacy Policy applies to all information that we have
    about you and your account. However, material changes to this Privacy Policy are not retroactive without your affirmative consent. You acknowledge and
    agree that it is your responsibility to review this Privacy Policy periodically and become aware of any modifications.
</p>
<p>
    · We do not use tracking cookies, web logs, or otherwise track users on our app, either internally or across the web, and therefore we do not respond to
“do not track” signals. However, our third-party providers may track users. You can learn how to opt out of tracking by Google Analytics<a href="https://www.google.com/intl/en/policies/privacy/">here</a>. You can learn how to opt out of Flurry’s tracking    <a href="http://www.flurry.com/legal-privacy/end-user-opt-out">here</a>.
</p>
<p>
    <strong>COPPA (Children Online Privacy Protection Act)</strong>
    <br/>
    Lalo app’s audience lies within the college space with users affiliated with a university. For that reason, we never knowingly collect or maintain
    information at our website or mobile application from those who are under 13.
</p>
<p>
    <strong>Transparency and Choice</strong>
    <br/>
    Users may have different privacy concerns. Our goal is to let you know what information we collect so that you can make meaningful choices about how it is
    used. You may change or delete the name, password, and email address you used to register on the Lalo app within user settings. You may also set your
    mobile device to block cookies or tracking that may be used by our third-party providers or to indicate when a cookie or tracking device is being set by
    them. You may also delete your account altogether by contacting <a href="mailto:support@hellolalo.com">support@hellolalo.com</a>.
</p>
<p>
    <strong>How We Notify You</strong>
    <br/>
</p>
<p>
    <strong>Notifications and Other Messages</strong>
    <br/>
    We may send you notifications and other messages using the contact information we have for you, such as your email address. You can control most of the
    notifications you receive, and if at any time you would like to unsubscribe from receiving future marketing emails, you can follow the instructions at the
    bottom of each email or email us at <a href="mailto:support@lalo.com">support@lalo.com</a>. Notifications and other messages sent to our employees,
    contractors, vendors, and suppliers are not covered under this Privacy Policy.
</p>
<p>
    <strong>Contact Us</strong>
    <br/>
    If you have any questions regarding this Privacy Policy you may contact us using the information below.
    <br/>
    <br/>
</p>
<p>
    <a href="mailto:support@hellolalo.com">support@hellolalo.com</a>
</p>
<p>
    <strong>Lemur Labs</strong>
    <br/>
    P.O. Box 22675
    <br/>
    Philadelphia, PA 19110
</p>
