<p>
    <strong>Terms of Use</strong>
</p>
<p>
    Last updated on October 18, 2015.
</p>
<p>
    Thanks for using Lalo!
</p>
<p>
    These terms of use (“Terms”) apply to you when you download, access, or use the mobile applications, websites or other products or services (collectively,
    the “Services”) of Lemur Labs (“Lalo”, “we” or “us”). Please read these Terms carefully, because you agree to be bound by these Terms when you use our
    Services. If you do not agree to these Terms, do not use the Services.
</p>
<p>
    Lemur Labs reserves the right, at its sole discretion, to change, modify, add or remove portions of these Terms, at any time. If we make change to these
    Terms, we will provide notice of such changes, such as by sending an email or other notification, posting a notice on our mobile application or website, or
    updating the “Last updated” date above. Nonetheless, it is your responsibility to check these Terms periodically for changes. Your continued use of the
    Services following the posting of changes will mean that you accept and agree to the changes. As long as you comply with these Terms, Lemur Labs grants you
    a personal, non-exclusive, non-transferable, non-sublicensable limited privilege to enter and use the Services for your own non-commercial purposes.
</p>
<p>
    <strong>Privacy</strong>
    <br/>
    Your privacy is very important to us. Please review our Privacy Policy <a href="http://www.hellolalo.com/legal">here</a>, to understand our practices. The
    privacy policy also govern your use of the Services.
</p>
<p>
    <strong>Our Audience</strong>
    <br/>
    We never knowingly collect or maintain information at our website or mobile applications from those who are under 13, and no part of our website or mobile
    applications are structured to attract anyone under 13.
    <br/>
    <br/>
    We may, in our sole discretion, refuse to offer the Services to any person or entity. We may, without notice and in our sole discretion, terminate your
    right to use the Services, or any portion thereof, and block or prevent your future access to and use of the Services or any portion thereof.
</p>
<p>
    <strong>License and Access to the Services</strong>
    <br/>
    Subject to your compliance with these Terms, Lemur Labs grants you a limited, non-exclusive, non-transferable, non-sublicensable license to access and make
    personal and non-commercial use of the Services. Using the Services does not give you ownership of any intellectual property rights in our Services or the
    content you access. All rights not expressly granted to you in these Terms are reserved and retained by Lemur Labs or the relevant intellectual property
    owners. No Service, nor any part of any Service, may be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial
    purpose without express prior written consent of Lemur Labs. You may not misuse the Services. You may use the Services only as permitted by law. The
    licenses granted by Lemur Labs automatically terminate if you do not comply with these Terms.
    <br/>
    <br/>
    We reserve the right to withdraw, amend, add or delete the features of our Services, in our sole discretion without notice. We will not be liable if for
    any reason all or any part of any our Services is unavailable at any time or for any period. From time to time, we may restrict access to some parts of our
    Services to users, including registered users.
</p>
<p>
    <strong>Your Account</strong>
    <br/>
    If you use any of our Services, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your
    computer or mobile device, and you agree to accept responsibility for all activities that occur under your account or password. You also acknowledge that
    your account is personal to you and agree not to provide any other person with access to any of our Services or portions thereof by using your username,
    password, or other security information. You agree to notify us immediately of any unauthorized access to or use of your username or password or any other
    breach of security.
</p>
<p>
    <strong>User Data, Content, and Conduct</strong>
    <br/>
    By using mobile application and websites developed by Lemur Labs, you agree to allow Lemur Labs to collect information about your usage and your device as
    described in our privacy policies. For example, you agree to allow us to collect information on your location data so we can improve how we customize your
    experience with the Lalo app.
    <br/>
    <br/>
    The Services consist of interactive features and areas that allow users to create, post, transmit and/or store content, including but not limited to
    photos, videos, text, graphics, items or other materials (collectively, “User Content”). You understand that your User Content may be viewable by others.
    You retain all ownership rights in your User Content. However, by submitting User Content to Lalo, you hereby grant us a nonexclusive, worldwide,
    royalty-free, sublicensable and transferable license to use, reproduce, modify, adapt, publish, create derivative works from, distribute, perform and
    display such User Content in connection with the Services. This license continues even if you stop using our Services (including advertising and promotion
    of the Services).
    <br/>
    <br/>
    Although Lemur Labs provides rules for user conduct (see Prohibited Activities, Special Provisions Applicable to Event Hosts, and Special Provisions
    Applicable to Event Attendees, below), we do not control or direct users’ actions in or related to our Services and are not responsible for the user
    content or information users transmit or share on or through our Services. We are not responsible for any offensive, inappropriate, obscene, unlawful or
    otherwise objectionable content or information you may encounter in or related to our Services. We are not responsible for the conduct, whether online or
    offline, of any user of the Services.
</p>
<p>
    <strong>Lemur Labs Content</strong>
    <br/>
    All text, graphics, user interfaces, visual interfaces, photographs, trademarks, logos, artwork, computer code, and written or other content (collectively,
    “Lemur Labs Content”), including, without limitation, the design, structure, selection, coordination, expression, and arrangement of such Lemur Labs
    Content, contained on our mobile applications or websites is owned, controlled, or licensed by or to Lemur Labs, and is protected by trade dress,
    copyright, and trademark laws, and various other intellectual property rights and unfair competition laws. Except as expressly provided in these Terms, no
    Lemur Labs Content or any part thereof may be copied, reproduced, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted or
    distributed in any way to any other computer, server, website, mobile application or other medium for publication, distribution, or for any commercial
    enterprise, without Lemur Labs’ express prior written consent.
</p>
<p>
    <strong>Prohibited Activities</strong>
    <br/>
    We respect other people’s rights and expect you to do the same. You agree that you will not:
</p>
<p>
    · Use the Services for any purpose that is illegal, beyond the scope of their intended use, in violation of someone else’s rights, or otherwise prohibited
    in these Terms;
</p>
<p>
    · Use the Services in any manner that could interfere with, disrupt, negatively affect, or inhibit other users from fully enjoying the Services, or that
    could damage, disable, overburden or impair the functioning of the Services in any manner;
</p>
<p>
    · Compromise the security of the Services;
</p>
<p>
    · Post any unauthorized advertising, spam, or promotional materials;
</p>
<p>
    · Use any robot, spider, crawler, scraper or other automated means or interface to access or monitor the Services or to copy or extract data;
</p>
<p>
    · Use, post, attach, disseminate, embed, or infect any virus or malware in or to any of the Services;
</p>
<p>
    · Reverse engineer any aspect of the Services or do anything that might discover source code or bypass or circumvent measures employed to prevent or limit
    access to any area, content or code of the Services;
</p>
<p>
    · Attempt to indicate in any manner that you have a relationship with us or that we have endorsed you or any products or services without our express
    written consent to do so;
</p>
<p>
    · Engage in any harassing, intimidating, predatory, hateful, discriminatory, or stalking conduct, or post any such content;
</p>
<p>
    · Impersonate any person or entity or otherwise misrepresent your affiliation with a person or entity;
</p>
<p>
    · Violate the publicity, privacy or data protection rights of others, including by taking or sharing pictures of another individual without receiving that
    individual’s consent; and/or
</p>
<p>
    · Otherwise interfere with the Services in any way.
</p>
<p>
    <strong>Digital Millennium Copyright Act Policy</strong>
    <br/>
    You agree not to post any content that infringes a third party’s copyright. In accordance with the Digital Millennium Copyright Act and other applicable
    laws, we have adopted a policy of limiting access to or deleting such content. We do not interfere with the standard technical measures designed to protect
    copyrighted works. In appropriate circumstances and in our sole discretion, we reserve the right to terminate account holders or other users of the
    Services who are deemed to be repeat infringers of third party copyrighted works. If you believe that anything on the Services infringes any copyright that
    you own or control, you may file a notice of such infringement by contacting us at <a href="mailto:support@hellolalo.com">support@hellolalo.com</a>. Your
    notice must be a written communication and include substantially the following:
</p>
<p>
    · A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
</p>
<p>
    · Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works are covered by a single notification, a
    representative list of such works.
</p>
<p>
    · Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which
    is to be disabled, and information reasonably sufficient to permit us to locate the material.
</p>
<p>
    · Information reasonably sufficient to permit us to contact you, such as an address, telephone number, and, if available, an email address at which you may
    be contacted.
</p>
<p>
    · A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent,
    or the law.
</p>
<p>
    · A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of
    an exclusive right that is allegedly infringed.
</p>
<p>
    <br/>
    Upon proper notification and/or obtaining knowledge or awareness that content or an activity using content on our system or network is infringing a
    copyright, we will act expeditiously to remove, or disable access to, the material. We will take reasonable steps promptly to notify a user whose material
    has been removed or has had access disabled that we have done so.
    <br/>
    <br/>
    If we have removed or disabled access to any of your content for allegedly infringing a copyright and you have a good faith belief that we have done so as
a mistake or misidentification of the content that has been removed or disabled, you may provide us with a counter notice at    <a href="mailto:support@hellolalo.com">support@hellolalo.com</a>. Your counter notice must be a written communication and include substantially all of the
    following:
</p>
<p>
    · Your physical or electronic signature.
</p>
<p>
    · Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was
    removed or access to it was disabled.
</p>
<p>
    · A statement under penalty of perjury that you have a good faith belief that the material was removed or disabled as a result of mistake or
    misidentification of the material to be removed or disabled.
</p>
<p>
    · Your name, address, and telephone number, and a statement that you consent to the jurisdiction of the U.S. District Court for the Eastern District of
    Pennsylvania, and that you will accept service of process from the person who provided notification of the alleged infringement or an agent of such person.
</p>
<p>
    <br/>
    Upon receipt of a counter notice, we will promptly provides the person who provided the notice of infringement with a copy of the counter notice and inform
    that person that we will replace the removed material or cease disabling access to it in ten (10) business days. We will then replace the removed material
    and cease disabling access to it not less than ten (10), nor more than fourteen (14), business days following receipt of the counter notice, unless we
    first receive notice from the person who submitted the infringement notice that such person has filed an action seeking a court order to restrain the
    allegedly infringing user from engaging in infringing activity relating to the material on our system or network. A physical or electronic signature of a
    person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
</p>
<p>
    <strong>Special Provisions Applicable to Event Hosts</strong>
    <br/>
    You can post content and information on the Lalo mobile application about any on-campus or off-campus event that you create, organize, or host (“Hosted
    Event”). If you create, organize, or host a Hosted Event, you agree to the following additional terms:
</p>
<p>
    · We do not supervise Hosted Events and are not involved in any way with the actions of any individuals at Hosted Events;
</p>
<p>
    · We have no control over the identity, actions, or interactions of the individuals who are present at these Hosted Events;
</p>
<p>
    · We are not involved in any way with physical transportation to or from Hosted Events;
</p>
<p>
    · You are not an agent or representative of Lemur Labs or Lalo;
</p>
<p>
    · You acknowledge that individuals who are present at your Hosted Event might take pictures, audio recordings, videos, and other forms of media of or at
    your Hosted Event, including of you and/or other individuals at the Hosted Event, and might post any such forms of media on the Lalo mobile application or
    elsewhere, in original or altered form, and you agree that we shall not in any way be responsible or liable for such media or such posting;
</p>
<p>
    · You will not host any Hosted Event that may be considered inappropriate, offensive, discriminatory, unlawful, and/or illegal; and
</p>
<p>
    · You agree that you bear all risk and you agree to release, discharge, and hold harmless us (and our officers, directors, members, managers, shareholders,
    agents, employees, affiliates, and third party partners) from claims, demands, losses, costs, and damages (actual and consequential) of every kind and
    nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, now and in the future, arising out of or in any way connected with your
    use of the Services or Lalo Content, your third party transactions, our resolution of any disputes among users, and/or your creation, organization, or
    hosting of, or the actions of you or other persons at, any Hosted Event. You further waive any and all rights and benefits otherwise conferred by any
    statutory or non-statutory law of any jurisdiction that would purport to limit the scope of a release or waiver.
</p>
<p>
    <strong>Special Provisions Applicable to Event Attendees</strong>
    <br/>
    Through the Lalo app, you can find out about the Hosted Events near you for you to attend in person. If you attend or travel to or from any Hosted Event,
    you agree to the following additional terms:
</p>
<p>
    · We do not supervise Hosted Events and are not involved in any way with the actions of any individuals at Hosted Events;
</p>
<p>
    · We have no control over the identity, actions, or interactions of the individuals who are present at these Hosted Events;
</p>
<p>
    · We are not involved in any way with physical transportation to or from Hosted Events;
</p>
<p>
    · We request that you exercise caution and good judgement when attending Hosted Events;
</p>
<p>
    · You acknowledge and agree that you attend or travel to or from any Hosted Event at your own risk;
</p>
<p>
    · You acknowledge that individuals who are present at any Hosted Event you attend might take pictures, audio recordings, videos, and other forms of media
    of or at the Hosted Event, including of you at the Hosted Event, and might post any such forms of media on the Lalo mobile application or elsewhere, in
    original or altered form, and you agree that we shall not in any way be responsible or liable for such media or such posting; and
</p>
<p>
    · You agree that you bear all risk and you agree to release, discharge, and hold harmless us (and our officers, directors, members, managers, shareholders,
    agents, employees, affiliates, and third party partners) from claims, demands, losses, costs, and damages (actual and consequential of every kind and
    nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, now and in the future, arising out of or in any way connected with your
    use of the Services or Lemur Labs Content or Lalo Content, your third party transactions, or resolution of any disputes among users, and/or your
    transportation to or from, attendance at, or the actions of you or other persons at any Hosted Event. You further waive any and all rights and benefits
    otherwise conferred by any statutory or non-statutory law of any jurisdiction that would purport to limit the scope of a release or waiver.
</p>
<p>
    <strong>Disclaimer and Limitation of Liability</strong>
    <br/>
    THE SERVICES, LEMUR LABS CONTENT, LALO CONTENT, AND HOSTED EVENTS ARE PROVIDED “AS IS” AND “AS AVAILABLE” WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR
    IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. IN ADDITION,
    WHILE LEMUR LABS ATTEMPTS TO PROVIDE AN EXCELLENT USER EXPERIENCE, WE CANNOT AND DO NOT REPRESENT OR WARRANT THAT THE SERVICES WILL ALWAYS BE SECURE OR
    ERROR-FREE OR THAT THE SERVICES WILL ALWAYS FUNCTION WITHOUT DELAYS, DISRUPTIONS, OR IMPERFECTIONS. LEMUR LABS DISCLAIMS ANY AND ALL LIABILITY FOR THE
    ACTS, OMISSIONS, AND CONDUCT OF ANY THIRD PARTIES IN CONNECTION WITH OR RELATED TO YOUR USE OF THE SERVICES, ANY LEMUR LABS CONTENT AND/OR LALO CONTENT,
    AND/OR ANY HOSTED EVENT. YOU ASSUME TOTAL RESPONSIBILITY FOR YOUR USE OF THE SERVICES AND ANY HOSTING, ATTENDANCE AND/OR PARTICIPATION AT ANY HOSTED EVENT.
    YOUR SOLE AND EXCLUSIVE REMEDY AGAINST LEMUR LABS FOR DISSATISFACTION WITH THE SERVICES OR ANY LEMUR LABS CONTENT OR LALO CONTENT IS TO STOP USING THE
    SERVICES OR ANY SUCH CONTENT. THIS LIMITATION OF RELIEF IS A PART OF THE BARGAIN BETWEEN THE PARTIES.
    <br/>
    <br/>
    TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF LEMUR LABS IN THE AGGREGATE FOR ANY CLAIMS UNDER THESE TERMS OR RELATED TO THE SERVICES IN ANY WAY
    IS LIMITED TO THE AMOUNT YOU PAID US TO USE THE SERVICES.
</p>
<p>
    <strong>Indemnity</strong>
    <br/>
    You agree to hold indemnify, defend, and hold harmless Lemur Labs, our members, managers, shareholders, employees, agents, successors, and affiliates from
    any demand, loss, liability, claim or expense (including attorneys’ fees), made against Lemur Labs by any third party due to or arising out of or in
    connection with your use of the Services, any Lemur Labs Content and/or Lalo Content and/or any Hosted Event. Without limiting the foregoing, if you are a
    creator, organizer, or host of a Hosted Event, agree to indemnify, defend, and hold harmless Lemur Labs, our members, shareholders, employees, agents,
    successors, and affiliates from any demand, loss, liability, claim or expense (including attorneys’ fees), made against Lemur Labs by any third party due
    to or arising out of or in connection with your actions or omissions and/or your Hosted Event.
</p>
<p>
    <strong>Disputes</strong>
    <br/>
    You will resolve any claim, cause of action or dispute you have with us arising out of or relating to Lemur Labs and/or Lalo, the Services or the Terms
    exclusively in the U.S. District Court for the Eastern District of Pennsylvania or a state court located in Philadelphia County, Pennsylvania, and you
    agree to submit to the personal jurisdiction of such courts for the purpose of litigating all such claims. The internal laws of the Commonwealth of
    Pennsylvania will govern the Terms, as well as any claim that might arise between you and us, without regard to conflict of law provisions.
</p>
<p>
    <strong>Severability</strong>
    <br/>
    If any provision of these Terms shall be deemed invalid, unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable
    from these Terms and shall not affect the validity and enforceability of any remaining provisions.
</p>
<p>
    <strong>Contact Us</strong>
    <br/>
We welcome your questions, comments, concerns, and suggestions, which you can email to us at    <a href="mailto:support@hellolalo.com">support@hellolalo.com</a>.
</p>
<p>
    <strong>Lemur Labs</strong>
    <br/>
    P.O. Box 22675
    <br/>
    Philadelphia, PA 19110
</p>
