<!DOCTYPE html>
<html>
<head xmlns:wb="http://open.weibo.com/wb">
  <title>车同轨科技 - Chetongui</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="wb:webmaster" content="ec03b90f72944140" />
</head>
<body>

<%= yield %>

</body>
</html>
